openapi: 3.2.0
info:
  x-logo:
    url: https://coinpaprika.com/static/files/d6d3c6e3.svg#greywizard/rock-coin-web/assets/coin/img/cp-logo-beta.svg
    backgroundColor: '#FFFFFF'
  description: 'Coinpaprika API delivers free & frequently updated market data from the world of crypto: coin prices, volumes, market caps, ATHs, return rates and more.'
  version: 1.2.1
  title: Coinpaprika Search API
servers:
- url: https://api.coinpaprika.com/v1
tags:
- name: Search
paths:
  /search/:
    get:
      tags:
      - Search
      summary: Search for currencies/icos/people/exchanges/tags
      parameters:
      - name: q
        in: query
        required: true
        description: phrase for search eg. `btc`
        schema:
          type: string
      - name: c
        in: query
        required: false
        description: 'one or more categories (comma separated) to search. Available options: `currencies|exchanges|icos|people|tags`'
        schema:
          type: string
          default: currencies,exchanges,icos,people,tags
      - name: limit
        in: query
        required: false
        description: limit of results per category (max 250)
        schema:
          type: integer
          default: 6
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchResults'
        429:
          description: too many requests
        400:
          description: invalid parameters
      operationId: getSearch
      x-operation-id-source: derived
components:
  schemas:
    SearchResults:
      type: object
      properties:
        currencies:
          type: array
          items:
            $ref: '#/components/schemas/Coin'
        icos:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                example: fil-filecoin-futures
              name:
                type: string
                example: Filecoin
              symbol:
                type: string
                example: FIL
              is_new:
                type: boolean
                example: false
                description: If ico was added within last 5 days
        exchanges:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                example: binance
              name:
                type: string
                example: Binance
              rank:
                type: integer
                example: 1
        people:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                example: vitalik-buterin
              name:
                type: string
                example: Vitalik Buterin
              teams_count:
                type: integer
                example: 5
                description: Number of teams where person is a member
        tags:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                example: blockchain-service
              name:
                type: string
                example: Blockchain Service
              coin_counter:
                type: integer
                example: 160
                description: Number of currencies with this tag
              ico_counter:
                type: integer
                example: 80
                description: Number of icos with this tag
    Coin:
      type: object
      properties:
        id:
          type: string
          example: btc-bitcoin
        name:
          type: string
          example: Bitcoin
        symbol:
          type: string
          example: BTC
        rank:
          type: integer
          example: 1
        is_new:
          type: boolean
          example: false
          description: If currency was added within last 5 days
        is_active:
          type: boolean
          example: true
