openapi: 3.2.0
info:
  x-logo:
    url: https://coinpaprika.com/static/files/d6d3c6e3.svg#greywizard/rock-coin-web/assets/coin/img/cp-logo-beta.svg
    backgroundColor: '#FFFFFF'
  description: 'Coinpaprika API delivers free & frequently updated market data from the world of crypto: coin prices, volumes, market caps, ATHs, return rates and more.'
  version: 1.2.1
  title: Coinpaprika Ticker API
servers:
- url: https://api.coinpaprika.com/v1
tags:
- name: Ticker
paths:
  /ticker:
    get:
      tags:
      - Ticker
      summary: Get ticker information for all coins
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tick'
        429:
          description: too many requests
      operationId: getTicker
      x-operation-id-source: derived
  /ticker/{coin_id}:
    get:
      tags:
      - Ticker
      summary: Get ticker information for specific coin
      parameters:
      - name: coin_id
        in: path
        required: true
        description: ID of coin to return e.g. btc-bitcoin, eth-ethereum
        schema:
          type: string
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tick'
        429:
          description: too many requests
        404:
          description: coin not found
      operationId: getTickerByCoinId
      x-operation-id-source: derived
components:
  schemas:
    Tick:
      type: object
      description: Tick response. Missing values are returned as empty string
      properties:
        id:
          type: string
          example: btc-bitcoin
        name:
          type: string
          example: Bitcoin
        symbol:
          type: string
          example: BTC
        rank:
          type: string
          example: '1'
        price_usd:
          type: string
          example: '9259.01'
        price_btc:
          type: string
          example: '1'
        volume_24h_usd:
          type: string
          example: '8102619999'
        market_cap_usd:
          type: string
          example: '157468557128'
        circulating_supply:
          type: string
          example: '17007062'
        total_supply:
          type: string
          example: '17007062'
        max_supply:
          type: string
          example: '21000000'
        percent_change_1h:
          type: string
          example: '-0.26'
        percent_change_24h:
          type: string
          example: '0.22'
        percent_change_7d:
          type: string
          example: '4.1'
        last_updated:
          type: string
          example: '1525088839'
