swagger: '2.0'
info:
  x-logo:
    url: https://coinpaprika.com/static/files/d6d3c6e3.svg#greywizard/rock-coin-web/assets/coin/img/cp-logo-beta.svg
    backgroundColor: '#FFFFFF'
  description: "Coinpaprika API delivers free & frequently updated market data from the world of crypto: coin prices, volumes, market caps, ATHs, return rates and more.\n# Clients\n* [PHP](https://github.com/coinpaprika/coinpaprika-api-php-client)\n* [NodeJS](https://github.com/coinpaprika/coinpaprika-api-nodejs-client)\n* [GO](https://github.com/coinpaprika/coinpaprika-api-go-client)\n* [Swift](https://github.com/coinpaprika/coinpaprika-api-swift-client)\n* Community Contributed Clients:\n  * [C#](https://github.com/MSiccDev/CoinpaprikaAPI)\n# General\n* The base endpoint is: https://api.coinpaprika.com/v1/\n* All endpoints return either a JSON object or array\n* All timestamp related fields are in seconds\n# Errors\n* API errors are formatted as JSON:\n```{\"error\": \"<error message>\"}```\n* HTTP 4XX return codes are used for invalid requests - the issue is on the sender's side\n* HTTP 429 return code is used when breaking a request rate limit\n* HTTP 5XX return codes are used for internal errors - the issue is on coinpaprika's side\n# Rate limit\n* Single IP address can send less than 10 requests per second\n"
  version: 1.2.1
  title: Coinpaprika coins ticker API
host: api.coinpaprika.com
basePath: /v1
schemes:
- https
tags:
- name: ticker
paths:
  /ticker:
    get:
      tags:
      - ticker
      summary: Get ticker information for all coins
      produces:
      - application/json
      responses:
        200:
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/Tick'
        429:
          description: too many requests
  /ticker/{coin_id}:
    get:
      tags:
      - ticker
      summary: Get ticker information for specific coin
      produces:
      - application/json
      parameters:
      - name: coin_id
        in: path
        required: true
        description: ID of coin to return e.g. btc-bitcoin, eth-ethereum
        type: string
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/Tick'
        429:
          description: too many requests
        404:
          description: coin not found
definitions:
  Tick:
    type: object
    description: Tick response. Missing values are returned as empty string
    properties:
      id:
        type: string
        example: btc-bitcoin
      name:
        type: string
        example: Bitcoin
      symbol:
        type: string
        example: BTC
      rank:
        type: string
        example: '1'
      price_usd:
        type: string
        example: '9259.01'
      price_btc:
        type: string
        example: '1'
      volume_24h_usd:
        type: string
        example: '8102619999'
      market_cap_usd:
        type: string
        example: '157468557128'
      circulating_supply:
        type: string
        example: '17007062'
      total_supply:
        type: string
        example: '17007062'
      max_supply:
        type: string
        example: '21000000'
      percent_change_1h:
        type: string
        example: '-0.26'
      percent_change_24h:
        type: string
        example: '0.22'
      percent_change_7d:
        type: string
        example: '4.1'
      last_updated:
        type: string
        example: '1525088839'
